{% extends "base.html" %}

{% block title %}GlamourCatalog | Home{% endblock %}

{% block content %}
    <section class="hero-section animate-on-scroll">
    <div class="hero-content">
        <h1 class="hero-title">Discover Your Glamour</h1>
        <p class="hero-subtitle">Curated beauty essentials for the modern woman</p>
        <a href="#" class="btn btn-hero">Shop Now</a>
    </div>
    </section>
    <section class="new-arrivals animate-on-scroll">
        <div class="section-header">
          <h2 class="section-title">Best Sellers</h2>
          <p class="section-subtitle">Featured Products</p>
        </div>
      
        <div class="products-grid">
          <!-- Product 1 -->
           {% for product in featured_products %}
          <div class="product-card animate-on-scroll">
            <span class="new-badge">New</span>
            <img src="{{product.image.url}}" alt="{{product.title}}">
            <h3>{{product.name}}</h3>
            <p class="price">${{product.price}}</p>
            <div class="product-actions">
              <button href="">See Details</button>
            </div>
          </div>
          {% endfor %}
      
        </div>
      </section>      
{% endblock %}