{% extends "base.html" %}

{% block title %}GlamourCatalog | {{ product.name }}{% endblock %}

{% block content %}
<div class="product-detail-section animate-on-scroll">
  <div class="product-images">
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="main-image">
  </div>
  
  <div class="product-info">
    <h1>{{ product.name }}</h1>
    <div class="category">Category: <a href="{% url 'category_detail' product.category.slug %}">{{ product.category.name }}</a></div>
    
    <div class="price">${{ product.price }}</div>
    
    <div class="description">
      {{ product.description }}
    </div>
    
    <button class="buy-button">Add to Cart</button>
  </div>
</div>
{% endblock %}